$primary:rgb(245, 168, 168);
$text-color:black;
$background:rgb(219, 127, 142);

.contact button{
    background:$primary;
}
p{
    color:$text-color;
}
h1{
    font-size:45px;
}
button{
    font-size:22px;
}
header{
    background-color: $background;
    display:flex;
    color: #333;
    color: $text-color;


    button{
        background:$primary;
        &:hover{
            background-color: $background;
        }
    }
  
}