@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,700&family=Roboto:ital,wght@1,100&family=Varela+Round&display=swap');
*{
    padding: 0;
    margin: 0;
    font-size:  'Roboto', sans-serif;
}
section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    min-height: 100vh;
    background: #350048;
}
section::before{
    content:"";
    position:absolute;
    top: 45%;
    width: 100%;
    left:0;
    height: 50px;
background: #bd00ff;
}
.container{
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    position: relative;
    width: 250px;
    height: 300px;
    text-align: center;
    z-index: 10;
    margin: 20px 20px 60px;
}
.box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    box-shadow: 0 15px 35px rgba(0,0,0,0.5) ;
    backdrop-filter:blur(15px);
    z-index: 10;
    border: 1px solid rgba(255,255,255,0.1);
    background:rgba(255,255,255,0.05);
    border-radius: 10px;
}
.percent{
    position:relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    z-index: 10;
}
.percent .number{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.percent .number h2{
    color: #fff;
    font-weight: 700px;
    font-size: 50px;
}
.percent .number h2 span{
    font-size: 24px;
}
.text{
   position: absolute; 
   z-index: 12;
   color:#fff;
   top:0%;
   bottom: -42px;
   padding: 30px 20px 10px ;
   transform: translateX(-50px);
   text-align: center;
   left: 50%;
   background: #f00;
   border-radius: 10px;
   font-weight: 800;
   letter-spacing: 1px;
   text-transform: uppercase;
   transition: bottom 0.5s ,z-index 0s, transform 0.5s,
   padding 0.5s;
   transition-delay: 0.5s,0.5s,0s,0.5s;
   box-shadow: 0 15px 35px rgba(0,0,0,0.02);
   pointer-events: none;
   color: #fff;  

}
.card:hover .text{
    bottom: -70px;
    z-index: 11;
    transform: translateX(-50%) translateY(-50px);
    padding: 10px 20px 10px;
}
svg{
    position: absolute;
    width: 150px;
    height: 150px;
z-index: 100;
}
svg circle{
   width: 100%;
   height: 100%;
   fill: none;
   stroke-width: 10;
   stroke: rgba(255,255,255,0.5);
   transform: translate(5px,5px); 
   stroke-linecap: round;
}
svg circle:nth-child(2){
   
    stroke:#fff;
    transform: translate(5px,5px); 
    stroke-dasharray: 440px;
    stroke-dashoffset: 80px;
 }
 svg circle:nth-child(2){
   
    stroke:#fff;
    transform: translate(5px,5px); 
    stroke-dasharray: 440px;
    stroke-dashoffset: 80px;
 }
.card:nth-child(1) svg circle:nth-child(2){
    stroke-dashoffset: calc(440px-(440px*90)/100);
}
.card:nth-child(2) svg circle:nth-child(2){
    stroke-dashoffset: calc(440px-(440px*82)/100);
}
.card:nth-child(3) svg circle:nth-child(2){
    stroke-dashoffset: calc(440px-(440px*65)/100);
}
.card:nth-child(1) .text{
background: #ff0461;
}
.card:nth-child(2) .text{
    background: #2bd2ff;
    }
    .card:nth-child(3) .text{
        background: #18d539;
        }