
/*@extend*/
.btn-basic{
    width: 10%;
    height: 8%;
    border-radius:7%;
}
body{
    background-color: $info;
    header{
@include flexCenter(column);
background-color: $pink;

h1{
    color:invert($parimary);
}
button{
    @extend .btn-basic;
background: $submition;
color: $color;
margin: 10px;
display:block;
&:hover{
    background: red;
}
}
    }
}
.button-basic  {
    border: none;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
  }
  
  .button-report  {
    @extend .button-basic;
    background-color: red;
  }
  
  .button-submit  {
    @extend .button-basic;
    background-color: green;
    color: white;
  }
//   @mixin
@mixin important-text {
    color: red;
    font-size: 25px;
    font-weight: bold;
    border: 1px solid blue;
  }
  /*
  selector {
  @include mixin-name;
}

  */
  @mixin special-text {
    @include important-text;
    @include link;
    @include special-border;
  }