*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --fisrt-color:rgb(241, 216, 216);
    --secondary-color:#111;
}
.dark-them{
    --fisrt-color:#111;
    --secondary-color:rgb(209, 181, 181);
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    justify-items: center;
    background: var(--fisrt-color);
    color: var(--secondary-color);
}
img{
  
    margin: auto;
    position: absolute;
    transform: translate(50%,50%);
    top:50%;
    border-radius: 50%;
    border: none;
}
.dark-mode{
    background:#111;
    color: #fff;
}
/* img:hover{
    background:rgb(126, 189, 214);
    border-radius: 50%;
    background-size: cover;
    padding:6px;
} */
/* .light-mode{
    display: none;
} */